body{
    background-color: #ffffff;
}
/* 
p{
    position: relative;
    top:-100px;
    left:350px;
    width: 450px;
    height: 54px;
}

a{
    position: relative;
    top:-65px;
    left:370px;
    width: 400px;
    height: 54px;
    margin-bottom: 0px;
    padding-bottom: 0px;
} */

